.offer-item-container {
    border: 1px solid #D6DADC;
    border-radius: 4px;
    height: 133px;
    padding: 20px;
    cursor: pointer;

    &:focus, &:hover {
        transition: 0.2s;
        box-shadow: 0 0px 7px -2px rgba(0,0,0,0.5);                
    }

    .offer-item-title {
        font-family: ProximaNova-Regular;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.35px;
        line-height: 23px;
        background: #14A9E6;
        width: 97px;
        height: 24px;
        text-align: center;
    }

    .offer-item-content {
        margin-top: 10px;

        .offer-item-route-image {
            background-image: url('../../assets/images/routes.png');
            width: 30px;
            height: 75px;
            background-repeat: no-repeat;
            display: inline-block;
        }
        .offer-item-destination-source-container {
            display: inline-block;
            vertical-align: top;

            .location {
                font-family: ProximaNova-Bold;
                font-size: 18px;
                color: #0A2127;
                letter-spacing: 0.45px;
                line-height: 20px;
                font-weight: bold;
            }

            .time {
                display: block;
                font-family: ProximaNova-Regular;
                font-size: 16px;
                color: #7F8D99;
                letter-spacing: 0.4px;
                line-height: 20px;
            }

            .offer-item-destination-container {
                margin-top: 16px;
            }
        }
        .offer-item-miles-container {
            display: inline-block;
            vertical-align: top;
            float: right;
            margin-right: 10px;
            font-family: ProximaNova-Regular;
            font-size: 18px;
            color: #0A2127;
            letter-spacing: 0.45px;
            text-align: right;
            line-height: 20px;
        }
    }
}